.first{
   .header-text{
      box-sizing:border-box;    
      background: linear-gradient(to right, rgb(15, 167, 188), rgb(7, 138, 164));
 


       min-height: 700px;

       @include respond-to($phone-small){
         min-height: 170px;
         padding-top: 57px;
         .text-wrapper{
       	 	font-size: 16px;
       	 	color: white;
       	 	width: 176px;
       	 	height: 39px;
       	 	margin-left: 30px;
       	 }
       	 .link-wrapper{
       	 	color:rgb(172, 215, 215);
       	 	width: 100px;
       	 	display: block;
       	 	margin-top: 5px; 
       	 	margin-left: 30px;
            font-size: 12px;
       	 	float:left;
       	 }
       	svg{
       	   width:10px;
       	   height:10px;
       	   margin-top: 7px;
       	   margin-right: 140px;
       	   display: block;
       	   float: right;
        }       	
       }
       @include respond-to($phone-big){
         min-height: 354px;
         padding-top: 115px;
         .text-wrapper{
       	 	font-size: 33px;
       	 	color: white;
       	 	width: 320px;
       	 	height: 77px;
       	 	margin-left: 53px;
       	 }
       	 .link-wrapper{
       	 	color:rgb(172, 215, 215);
       	 	width: 50px;
       	 	display: block;
       	 	margin-top: 10px; 
       	 	margin-left: 50px;
            font-size: 20px;
       	 	float:left;
       	 }
       	 svg{
       	   width:15px;
       	   height:15px;
       	   margin-top: 15px;
       	   margin-right: 300px;
       	   display: block;
       	   float: right;
        }      
       }
       @include respond-to($tablet-portrait){
         min-height: 553px;
         padding-top: 180px;
         .text-wrapper{
       	 	font-size: 44px;
       	 	color: white;
       	 	width: 440px;
       	 	height: 47px;
       	 	margin-left: 73px;
       	 }
       	 .link-wrapper{
       	 	color:rgb(172, 215, 215);
       	 	width: 200px;
       	 	display: block;
       	 	margin-top: 65px; 
       	 	margin-left: 80px;
            font-size: 30px;
       	 	float:left;
       	 }
       	 svg{
       	   width:20px;
       	   height:20px;
       	   margin-top: 75px;
       	   margin-right: 500px;
       	   display: block;
       	   float: right;
        }       	       	 
       }
       @include respond-to($large-desktop){
       	 min-height: 581px;
       	 padding-top: 200px;
       	 .text-wrapper{
       	 	font-size: 48px;
       	 	color: white;
       	 	width: 450px;
       	 	height: 52px;
       	 	margin-left: 80px;
       	 	display: block;
       	 }
       	 .link-wrapper{
       	 	color:rgb(172, 215, 215);
       	 	width: 300px;
       	 	display: block;
       	 	margin: 0;
       	 	margin-top: 65px; 
       	 	margin-left: 80px;
            font-size: 30px;
            float:left;
       	 	
       	 }
       	 svg{
       	   width:20px;
       	   height:20px;
       	   margin-top: 75px;
       	   margin-right: 500px;
       	   display: block;
       	   float: right;
       }
       	
       }
   }

}