.four{
  background-color:rgb(235,235,235);
  min-height: 567px;
  padding-top: 57px;
  a{
  	text-decoration: none;
  }
   h2{
    	color: rgb(8, 140, 165);
    	font-size: 30px;
   }
  .text-wrapper{  
    column-width: 400px;   
    column-count: 2;    
    column-gap: 60px;   
    text-indent: 20px;     
    padding-top: 20px;
    box-sizing: border-box;
    p{
      margin-top: 20px;
      color: rgb(81, 81, 81);
      font-size: 14px;
      line-height: 20px;
      &:first-of-type{      	
        margin-top: 0;
      }
     }
    }  
    @include respond-to($tablet-portrait){
     min-height: 552px;

    }

    @include respond-to($phone-big){
    	min-height: 692px;
       .text_for_lg{
       	  display: none;
       }
        .text-wrapper{  
        	column-count: 1;  
        	p{
        	  line-height: 30px; 
        	  font-size: 18px;
        	}
        }
    }
    
    @include respond-to($phone-small){
    	min-height: 440px;
       .text_for_lg{
       	  display: none;
       }
        .text-wrapper{  
          column-count: 1;  
        }
    }
  
}