
$items: 4;
$transition-duration: 0.5s;
$transition-delay: 0.05s;

header{
  background-color: black; 

  @include respond-to($phone-small) {
   min-height: 37px;
   .header-rext{
    display: inline-block;
    float: left;
    h2{
  	  color: white;
  	  font-size:25px;
  	  line-height: 35px;
    }
  }  
  #toggle {
    position: absolute;
    left: -100%;
    top: -100%;
    visibility: hidden;
  }
  #toggle:checked {  
    & ~ .toggle-container .button-toggle {
  	  float: right;
      &:before {
        transform: translateY(-50%) rotate(45deg) scale(1);
      }
      &:after {
        transform: translateY(-50%) rotate(-45deg) scale(1);
      }
    }
    & ~ .nav {
      margin-bottom: 0px;
      pointer-events: auto;
      transform: translate(6px, 28px);
      float: right;   
      .nav-item {
        color: white;
        background-color: black;
        letter-spacing: 0;
        width: 120px;
        height: 20px;
        font-size: 11px;
        text-align: center;
        border-bottom: 1px solid white;
        line-height: 20px;
        text-decoration: none;
        margin-top: 0;
        opacity: 1;
        transform: scaleY(1);
        transition: $transition-duration, opacity 0.1s;    
        @for $i from 1 through $items {
          &:nth-child(#{$i}) {
            $delay: ($items - $i) * $transition-delay;
            transition-delay: $delay;
            &:before {
              transition-delay: $delay;
            }
          }
        }    
        &:before {
          opacity: 0;
        }
     }
    }
  }
  .button-toggle {
    position: absolute;
    right: 45px;    
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 5px;
    background-color: black;   
    cursor: pointer;
    transition: $transition-duration + 0.1;
    &:before, &:after {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: white;
      border-radius: 5px;
      transition: $transition-duration;
    }
    &:before {
      transform: translateY(-50%) rotate(45deg) scale(0);
    }
    &:after {
      transform: translateY(-50%) rotate(-45deg) scale(0);
    }
  }

  .nav {
    display: inline-block;
    margin: 9px 10px 10px; 
    pointer-events: none;
    width: 10px;
    height: 10px;
    transition: $transition-duration;
    position: absolute;
    right: 40px;
  }

   .nav-item {
    position: relative;
    display: inline-block;
    float: right;
    clear: both;
    color: transparent;
    font-size: 9px;
    letter-spacing: -6px;
    height: 5px;
    line-height: 8px;
    text-transform: uppercase;
    white-space: nowrap;
    transform: scaleY(0.2);
    transition: $transition-duration, opacity 1s;
    &:nth-child(1) {
      letter-spacing: -3.5px;
    }
    &:nth-child(2) {
      letter-spacing: -1.0px;
    }  
    &:nth-child(3) {
      letter-spacing: -3.9px;
    }  
    &:nth-child(4) {
      letter-spacing: -2.3px;
      margin-right: 1px;
    }  
    &:nth-child(n+5) {
      letter-spacing: -2px;   
      margin-top: -10px;
      opacity: 0;
    }
    &:before {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: white;
      transform: translateY(-50%) scaleY(5);
      transition: $transition-duration;
    }
  }
 }
 @include respond-to($phone-big) {
  min-height: 73px;
 .header-rext{
    display: inline-block;
    float: left;
    h2{
  	  color: white;
  	  font-size:35px;
  	  line-height: 65px;
    }
  } 
  #toggle {
    position: absolute;
    left: -100%;
    top: -100%;
    visibility: hidden;
  }
  #toggle:checked {  
    & ~ .toggle-container .button-toggle {
  	  float: right;
      &:before {
        transform: translateY(-50%) rotate(45deg) scale(1);
      }
      &:after {
        transform: translateY(-50%) rotate(-45deg) scale(1);
      }
    }
    & ~ .nav {
      margin-bottom: 50px;
      pointer-events: auto;
      transform: translate(4px, 28px);
      float: right;   
      .nav-item {
        color: white;
        background-color: black;
        letter-spacing: 0;
        width: 149px;
        height: 35px;
        text-align: center;
        border-bottom: 1px solid white;
        line-height: 33px;
        text-decoration: none;
        margin-top: 0;
        opacity: 1;
        transform: scaleY(1);
        transition: $transition-duration, opacity 0.1s;    
        @for $i from 1 through $items {
          &:nth-child(#{$i}) {
            $delay: ($items - $i) * $transition-delay;
            transition-delay: $delay;
            &:before {
              transition-delay: $delay;
            }
          }
        }    
        &:before {
          opacity: 0;
        }
     }
    }
  }
  .button-toggle{
    position: absolute;
    right: 54px;
    top: 15px;
    display: inline-block;
    width: 37px;
    height: 37px;
    margin: 0px;
    background-color: black;     
    cursor: pointer;
    transition: $transition-duration + 0.1;
    &:before, &:after {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: white;
      border-radius: 5px;
      transition: $transition-duration;
    }
    &:before {
      transform: translateY(-50%) rotate(45deg) scale(0);
    }
    &:after {
      transform: translateY(-50%) rotate(-45deg) scale(0);
    }
  }

  .nav {
    display: inline-block;
    margin: 4px 5px 10px; 
    pointer-events: none;
    width: 20px;
    height: 20px;
    transition: $transition-duration;
    position: absolute;
    right: 54px;
    top: 18px;
  }

  .nav-item {
    position: relative;
    display: inline-block;
    float: right;
    clear: both;
    color: transparent;
    font-size: 14px;
    letter-spacing: -8px;
    height: 7px;
    line-height: 7px;
    text-transform: uppercase;
    white-space: nowrap;
    transform: scaleY(0.2);
    transition: $transition-duration, opacity 1s;
    &:nth-child(1) {
      letter-spacing: -6.1px;
    }
    &:nth-child(2) {
      letter-spacing: -3px;
    }  
    &:nth-child(3) {
      letter-spacing: -6.58px;
    }  
    &:nth-child(4) {
      letter-spacing: -4.8px;
    }  
    &:nth-child(n+5) {
      letter-spacing: -3px;   
      margin-top: -19px;
      opacity: 0;
    }
    &:before {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: white;
      transform: translateY(-50%) scaleY(5);
      transition: $transition-duration;
    }
  }
 }  
  @include respond-to($tablet-portrait) {
	background-color: black;	
	min-height: 97px;
	#toggle {
      display:none;
    }
    h2{
  	  display: none;
    }
    nav{
      margin-left: 25px;
    }
    .nav-item{
      display: inline-block;
      margin-right: 20px;     
      text-decoration: none;
      color: white;
      font-size: 18px;
      line-height: 85px;
      text-transform: uppercase;     
      &:last-of-type{
      	margin-right: 0;
      }
    }   
  }
  @include respond-to($large-desktop){
     background-color: black;    
     min-height: 97px;
     #toggle {
      display:none;
    }
    h2{
  	  display: none;
    }
    nav{
      margin-left: 25px;
    }
    .nav-item{
      display: inline-block;
      margin-right: 20px;     
      text-decoration: none;
      color: white;
      font-size: 18px;
      line-height: 85px;
      text-transform: uppercase;     
      &:last-of-type{
      	margin-right: 0;
      }
    }
  }
}
