$phone-small: '(max-width: 639px)';
$phone-big: '(min-width: 640px) and (max-width: 979px)';
$tablet-portrait: '(min-width: 980px) and (max-width: 1023px)';
$large-desktop: '(min-width: 1024px)';

@mixin respond-to($media) {
    @media only screen and #{$media} {
        @content;
    }
}

