.second{
	overflow: hidden;
	background-color: rgb(39, 33, 44);
    @include respond-to($phone-small){
      min-height: 73px;		   
     .like-section{
      float: left;
      background-color: rgb(39, 33, 44);
      color:rgb(147, 131, 162);     
      width: 203px;
      line-height: 73px;
      font-size: 12px;
      text-align: left;
      margin-left: 30px;
     }
     .arrow-section{
      float: right;
      background-color: rgb(188, 49, 131);
      min-height: 73px;
      width: 72px;
      cursor: pointer;
      svg{
     	width: 18px;  
     	margin-top: 25px;
        margin-left: 25px;
      }
     }

    }
	@include respond-to($phone-big){
     min-height: 146px;	 
     .like-section{
      float: left;
      background-color: rgb(39, 33, 44);
      color:rgb(147, 131, 162);     
      width: 395px;
      line-height: 146px;
      font-size: 15px;
      text-align: left;
      margin-left: 53px;
     }
     .arrow-section{
      float: right;
      background-color: rgb(188, 49, 131);
      min-height: 146px;
      width: 140px;
      cursor: pointer;
      svg{
     	width: 25px;  
     	margin-top: 60px;
        margin-left: 55px;
      }
     }

	}
	@include respond-to($tablet-portrait){
      min-height: 231px;		  
     .like-section{
      float: left;
      background-color: rgb(39, 33, 44);
      color:rgb(147, 131, 162);     
      width: 555px;
      line-height: 231px;
      font-size: 22px;
      text-align: left;
      margin-left: 73px;
     }
     .arrow-section{
      float: right;
      background-color: rgb(188, 49, 131);
      min-height: 231px;
      width: 217px;
      cursor: pointer;
      svg{
     	width: 30px;  
     	margin-top: 100px;
        margin-left: 95px;
      }
     } 

	}
	@include respond-to($large-desktop){
	  min-height: 245px;
	  
     .like-section{
      float: left;
      background-color: rgb(39, 33, 44);
      color:rgb(147, 131, 162);     
      width: 600px;
      line-height: 245px;
      font-size: 24px;
      text-align: left;
      margin-left: 80px;
     }
     .arrow-section{
      float: right;
      background-color: rgb(188, 49, 131);
      min-height: 245px;
      width: 229px;
      cursor: pointer;
      svg{
     	width: 38px;  
     	margin-top: 100px;
        margin-left: 95px;
      }
     }
    }

}