.three{
   
    background-color: rgb(91, 15, 161);
    box-sizing:border-box;


  @include respond-to($phone-small){
      height: 840px;
      svg{
    	width: 40px;
    	height: 40px;
    	float: left;
    	margin-left: 150px;
    	margin-top: 120px;
      }
      .square{
        height: 280px;
        width: 320px;
        background-color: rgb(91, 15, 161);	
        display: block;
      }
      .bridge{
    	height: 280px;
    	width: 320px;
		background-image: url("../img/bridge.png");
		background-repeat: no-repeat;
		background-size: cover;
		display: block;
      } 
	  .smile{
		height: 280px;
		width: 320px;
		background-image: url("../img/smile.png");
		background-repeat: no-repeat;
		background-size: cover;
		display: block;
	  }
    }
     @include respond-to($phone-big){
      height: 1656px;
      svg{
    	width: 40px;
    	height: 40px;
    	float: left;
    	margin-left: 320px;
    	margin-top: 255px;
      }
      .square{
        height: 552px;
		width: 640px;
        background-color: rgb(91, 15, 161);	
        display: block;
      }
      .bridge{
    	height: 552px;
		width: 640px;
		background-image: url("../img/bridge-big.png");
		background-repeat: no-repeat;
		background-size: cover;
		display: block;
      } 
	  .smile{
		height: 552px;
		width: 640px;
		background-image: url("../img/smile-big.png");
		background-repeat: no-repeat;
		background-size: cover;
		display: block;
	  }
    }
     @include respond-to($tablet-portrait){
      height: 282px;
      svg{
    	width: 40px;
    	height: 40px;
    	float: left;
    	margin-left: 164px;
    	margin-top: 141px;
      }
      .square{
        height: 282px;
        width: 328px;
        background-color: rgb(91, 15, 161);	
        display: inline-block;
      }
      .bridge{
    	height: 282px;
    	width: 328px;
    	margin-left: -6px;
		background-image: url("../img/bridge.png");
		background-repeat: no-repeat;
		background-size: cover;
		display: inline-block;
      } 
	  .smile{
		height: 282px;
		width: 328px;
		margin-left: -6px;
		background-image: url("../img/smile.png");
		background-repeat: no-repeat;
		background-size: cover;
		display: inline-block;
	  }
    }   
    @include respond-to($large-desktop){
      height: 295px;
      svg{
    	width: 40px;
    	height: 40px;
    	float: left;
    	margin-left: 170px;
    	margin-top: 130px;
      }
      .square{
      	height: 295px;
        width: 340px;
        margin-bottom: 1px;
        background-color: rgb(91, 15, 161);	
        display: inline-block;
      }
      .bridge{
        height: 296px;
        width: 340px;
        margin-left: -2px;
		background-image: url("../img/bridge.png");
		background-repeat: no-repeat;		
		display: inline-block;
      } 
	  .smile{
		height: 296px;
        width: 340px;
        margin-left: -3px;
		background-image: url("../img/smile.png");
		background-repeat: no-repeat;
		background-size: 100%;
		display: inline-block;
	  }
    }	
}