@import "susy";
@import "grid";
@import "reset";
@import "fonts";
@import "responsive";
@import "header";
@import "first-section";

.container{
	margin: 0 auto;
  @include respond-to($phone-small) {
    width: 320px;
  }
  @include respond-to($phone-big) {
    width: 640px;
  }
  @include respond-to($tablet-portrait) {
    width: 980px;
  }
  @include respond-to($large-desktop){
    width: 1024px;
  }	
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}



