@import "susy";
@import "grid";
@import "reset";
@import "fonts";
@import "responsive";
@import "header";

.container{
	margin: 0 auto;
	width: 1140px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}



