@import "susy";
@import "grid";
@import "reset";
@import "fonts";
@import "responsive";
@import "header";

.container{
	margin: 0 auto;
	width: 1140px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
$items: 4;
$transition-duration: 0.5s;
$transition-delay: 0.05s;



// To hide the checkbox
#toggle {
  position: absolute;
  left: -100%;
  top: -100%;

}


// Styles for the 'open' state, if the checkbox is checked
#toggle:checked {
  // Any element you need to change the style if menu is open goes here, using the sibling selector (~) as follows

  // Making the "X" icon using `:before` and `:after` pseudo-elements
  & ~ .toggle-container .button-toggle {
  	 float: right;

    &:before {
      transform: translateY(-50%) rotate(45deg) scale(1);
    }
    &:after {
      transform: translateY(-50%) rotate(-45deg) scale(1);
    }
  }
  // Open nav
  & ~ .nav {
    margin-bottom: 50px;
    pointer-events: auto;
    transform: translate(0px, 28px);
    float: right;
    // Restoring nav items from "lines" in the menu icon
    .nav-item {
      color: white;
      background-color: black;
      letter-spacing: 0;
      width: 120px;
      height: 30px;
      text-align: center;
      border-bottom: 1px solid white;
      line-height: 35px;
      text-decoration: none;
      margin-top: 0;
      opacity: 1;
      transform: scaleY(1);
      transition: $transition-duration, opacity 0.1s;
      // Setting delays for the nav items in open transition
      @for $i from 1 through $items {
        &:nth-child(#{$i}) {
          $delay: ($items - $i) * $transition-delay;
          transition-delay: $delay;
          &:before {
            transition-delay: $delay;
          }
        }
      }
      // Hiding the lines
      &:before {
        opacity: 0;
      }
    }
   }
}


/* Toggle button */

.button-toggle {
  position: absolute;
  right: 254px;
  display: inline-block;
  width: 37px;
  height: 37px;
  margin: 0px;
  background-color: black;
  border: none;
  cursor: pointer;
  transition: $transition-duration + 0.1;
  

  // Making the "X" icon using `:before` and `:after` pseudo-elements
  // Initially hidden because `scale(0)` transformation

  &:before, &:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 5px;
    transition: $transition-duration;
  }

  &:before {
    transform: translateY(-50%) rotate(45deg) scale(0);
  }

  &:after {
    transform: translateY(-50%) rotate(-45deg) scale(0);
  }
}


/* Menu */

.nav {
  display: inline-block;
  margin: 9px 10px 10px;
  // Don't want pointer-events as menu is closed
  pointer-events: none;
  width: 20px;
  height: 20px;
  transition: $transition-duration;
  position: absolute;
  right: 254px;
}

// Showing nav items as lines, making up the hamburger menu icon
.nav-item {
  position: relative;
  display: inline-block;
  float: right;
  clear: both;
  color: transparent;
  font-size: 14px;
  letter-spacing: -6.2px;
  height: 7px;
  line-height: 7px;
  text-transform: uppercase;
  white-space: nowrap;
  transform: scaleY(0.2);
  transition: $transition-duration, opacity 1s;


  // Adjusting width for the first line
  &:nth-child(1) {
    letter-spacing: -8px;
  }

  // Adjusting width for the second line
  &:nth-child(2) {
    letter-spacing: -7px;
  }

  // Adjusting from the fourth element onwards
  &:nth-child(n + 4) {
    letter-spacing: -8px;
    margin-top: -7px;
    opacity: 0;
  }

  // Getting the lines for the hamburger menu icon
  &:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: translateY(-50%) scaleY(5);
    transition: $transition-duration;
  }
}
